body{
    background-color: black;
    color: white;
    margin-top: 5px;
}


ul {
    list-style: none;
}
li {
    display: inline-block;
    padding: 10px;
    border
}


.section {
    
}